#jinja2: lstrip_blocks: True
{% set v4_prefix = site_ipv4_prefix.split('.') %}
{% set v6_prefix = site_ipv6_prefix.split(':') %}
vlans {
{% for item in vlan.config %}
{% set vlan_ip = item.ip %}
{% set third_octet = vlan_ip.split('.') %}
{% set cidr = vlan_ip.split('/') %}
    /* {{ v4_prefix[0] }}.{{ v4_prefix[1] }}.{{ third_octet[2] }}.0/{{ cidr[1] }} */
    v{{ item.id }} {
        vlan-id {{ item.id }};
        forwarding-options {
            dhcp-security {
                arp-inspection;
                neighbor-discovery-inspection;
            }
        }
        switch-options {
            mac-move-limit {
                5;
                packet-action drop-and-log;
            }
        }
    }
{% endfor %}
}