#jinja2: lstrip_blocks: True
{% set v4_prefix = site_ipv4_prefix.split('.') %}
{% set v6_prefix = site_ipv6_prefix.split(':') %}
vlans {
    /* {{ v4_prefix[0] }}.{{ v4_prefix[1] }}.0.0/23 */
    v200 {
        vlan-id 200;
        l3-interface irb.200;
    }
    /* {{ v4_prefix[0] }}.{{ v4_prefix[1] }}.16.0/24 */
    v2016 {
        vlan-id 2016;
    }
    /* {{ v4_prefix[0] }}.{{ v4_prefix[1] }}.248.0/24 */
    v2248 {
        vlan-id 2248;
        l3-interface irb.2248;
    }
    /* {{ v4_prefix[0] }}.{{ v4_prefix[1] }}.252.0/24 */
    v2252 {
        vlan-id 2252;
        l3-interface irb.2252;
    }
    /* {{ v4_prefix[0] }}.{{ v4_prefix[1] }}.253.0/24 */
    v2253 {
        vlan-id 2253;
        l3-interface irb.2253;
    }
}
