#jinja2: lstrip_blocks: True
{% set v4_prefix = site_ipv4_prefix.split('.') %}
{% set v6_prefix = site_ipv6_prefix.split(':') %}
vlans {
    /* {{ v4_prefix[0] }}.{{ v4_prefix[1] }}.2.0/24 */
    v2002 {
        vlan-id 2002;
        forwarding-options {
            dhcp-security;
        }
    }
    /* {{ v4_prefix[0] }}.{{ v4_prefix[1] }}.8.0/22 */
    v2008 {
        vlan-id 2008;
        forwarding-options {
            dhcp-security;
        }
    }
    /* {{ v4_prefix[0] }}.{{ v4_prefix[1] }}.23.0/24 */
    v2023 {
        vlan-id 2023;
        forwarding-options {
            dhcp-security;
        }
    }
    /* {{ v4_prefix[0] }}.{{ v4_prefix[1] }}.24.0/24 */
    v2024 {
        vlan-id 2024;
        forwarding-options {
            dhcp-security;
        }
    }
    /* {{ v4_prefix[0] }}.{{ v4_prefix[1] }}.100.0/22 */
    v2100 {
        vlan-id 2100;
        forwarding-options {
            dhcp-security;
        }
    }
    /* {{ v4_prefix[0] }}.{{ v4_prefix[1] }}.252.0/24 */
    v2252 {
        vlan-id 2252;
        forwarding-options {
            dhcp-security;
        }
    }
}