#jinja2: lstrip_blocks: True
replace:
switch-options {
    interface ae10 {
        interface-mac-limit {
            200;
            packet-action shutdown;
        }
    }
    interface ae11 {
        interface-mac-limit {
            200;
            packet-action shutdown;
        }
    }
    interface ae12 {
        interface-mac-limit {
            200;
            packet-action shutdown;
        }
    }
    interface ae13 {
        interface-mac-limit {
            200;
            packet-action shutdown;
        }
    }
    interface ae14 {
        interface-mac-limit {
            200;
            packet-action shutdown;
        }
    }
    interface ae15 {
        interface-mac-limit {
            200;
            packet-action shutdown;
        }
    }

}