#jinja2: lstrip_blocks: True
{% set v4_prefix = site_ipv4_prefix.split('.') %}
{% set v6_prefix = site_ipv6_prefix.split(':') %}
routing-instances {
    {{ site_name }}-default {
        instance-type virtual-router;
{% if vlan is defined %}
        system {
            services {
                dhcp-local-server {
                    dhcpv6 {
                        overrides {
                            interface-client-limit 100;
                        }
                        route-suppression access access-internal;
                        group dhcpv6_group {
{% for item in vlan.config %}
{% if item.id == 2253 %}
{% else %}
                            interface irb.{{ item.id }};
{% endif %}
{% endfor %}
                        }
                    }
                    overrides {
                        interface-client-limit 100;
                    }
                }
            }
        }
        access {
            address-assignment {
{% for item in vlan.config %}
{% if item.id == 2253 %}
{% else %}
                pool vlan{{ item.id }}_dhcpv6_pool {
                    family inet6 {
                        prefix {{ v6_prefix[0] }}:{{ v6_prefix[1] }}:{{ v6_prefix[2] }}:{{ item.id }}::/64;
                        range vlan{{ item.id }}_dhcpv6_range {
                            low {{ v6_prefix[0] }}:{{ v6_prefix[1] }}:{{ v6_prefix[2] }}:{{ item.id }}::10/128;
                            high {{ v6_prefix[0] }}:{{ v6_prefix[1] }}:{{ v6_prefix[2] }}:{{ item.id }}:ffff:ffff:ffff:fff0/128;
                        }
                        dhcp-attributes {
                            valid-lifetime 28800;
                            preferred-lifetime 28800;
                        }
                    }
                }
{% endif %}
{% endfor %}
{% endif %}
            }
        }
        interface irb.200;
        interface irb.2002;
        interface irb.2008;
        interface irb.2014;
        interface irb.2015;
        interface irb.2016;
        interface irb.2023;
        interface irb.2024;
        interface irb.2100;
        interface irb.2114;
        interface irb.2200;
        interface lo0.0;
{% if vlan is defined %}
{% for item in vlan.config %}
        interface irb.{{ item.id }};
{% endfor %}
{% endif %}
        routing-options {
            rib {{ site_name }}-default.inet6.0 {
                static {
                    route ::0/0 {
                        next-hop {{ v6_prefix[0] }}:{{ v6_prefix[1] }}:{{ v6_prefix[2] }}:200::1;
                        preference 160;
                    }
                }
            }
            static {
                route {{ site_ipv4_prefix }} discard;
                route 0.0.0.0/0 {
                    next-hop {{ v4_prefix[0] }}.{{ v4_prefix[1] }}.0.1;
                    preference 250;
                }
                route 192.168.0.0/16 {
                    next-hop {{ v4_prefix[0] }}.{{ v4_prefix[1] }}.0.1;
                    preference 160;
                }
                route 10.0.0.0/8 {
                    next-hop {{ v4_prefix[0] }}.{{ v4_prefix[1] }}.0.1;
                    preference 160;
                }
                route 172.16.0.0/12 {
                    next-hop {{ v4_prefix[0] }}.{{ v4_prefix[1] }}.0.1;
                    preference 160;
                }
            }
            router-id {{ v4_prefix[0] }}.{{ v4_prefix[1] }}.254.254;
            autonomous-system 18888;
        }
        forwarding-options {
            dhcp-relay {
                server-group {
                    znet-dhcp-servers {
                        {{ v4_prefix[0] }}.{{ v4_prefix[1] }}.253.11;
                    }
                    zwin-dhcp-servers {
{% for item in site_system.dhcp_server %}
                        {{ item.ip }};
{% endfor %}
                    }
                }
                group dhcp-relay-group {
                    active-server-group zwin-dhcp-servers;
                    interface irb.2008;
                    interface irb.2023;
                    interface irb.2024;
                    interface irb.2100;
                    interface irb.2200;
                    interface irb.2002;
{% if vlan is defined %}
{% for item in vlan.config %}
{% if item.id == 2253 %}
{% else %}
                    interface irb.{{ item.id }};
{% endif %}
{% endfor %}
{% endif %}
                }
            }
        }
        protocols {
            ospf {
                reference-bandwidth 1g;
                area 0.0.0.0 {
                    interface lo0.0 {
                        passive;
                    }
                    interface irb.200 {
                        priority 210;
                    }
                }
                area {{ v4_prefix[0] }}.{{ v4_prefix[1] }}.0.0 {
                    area-range {{ site_ipv4_prefix }};
                    interface irb.2002 {
                        passive;
                    }
                    interface irb.2024 {
                        passive;
                    }
                    interface irb.2023 {
                        passive;
                    }
                    interface irb.2008 {
                        passive;
                    }
                    interface irb.2100 {
                        passive;
                    }
                    interface irb.2014 {
                        passive;
                    }
                    interface irb.2015 {
                        passive;
                    }
                    interface irb.2016 {
                        passive;
                    }
                    interface irb.2114 {
                        passive;
                    }
                    interface irb.2200 {
                        passive;
                    }
{% if vlan is defined %}
{% for item in vlan.config %}
                    interface irb.{{ item.id }} {
                        passive;
                    }
{% endfor %}
{% endif %}
                }
            }
            ospf3 {
                reference-bandwidth 1g;
                area 0.0.0.0 {
                    interface lo0.0 {
                        passive;
                    }
                    interface irb.200 {
                        priority 210;
                    }
                }
                area {{ v4_prefix[0] }}.{{ v4_prefix[1] }}.0.0 {
                    area-range {{ site_ipv6_prefix }};
                    interface irb.2002 {
                        passive;
                    }
                    interface irb.2024 {
                        passive;
                    }
                    interface irb.2023 {
                        passive;
                    }
                    interface irb.2008 {
                        passive;
                    }
                    interface irb.2100 {
                        passive;
                    }
                    interface irb.2014 {
                        passive;
                    }
                    interface irb.2015 {
                        passive;
                    }
                    interface irb.2016 {
                        passive;
                    }
                    interface irb.2114 {
                        passive;
                    }
                    interface irb.2200 {
                        passive;
                    }
{% if vlan is defined %}
{% for item in vlan.config %}
                    interface irb.{{ item.id }} {
                        passive;
                    }
{% endfor %}
{% endif %}
                }
            }
            pim {
                rp {
                    local {
                        address {{ v4_prefix[0] }}.{{ v4_prefix[1] }}.254.254;
                    }
                }
                interface irb.2002;
                interface irb.2024;
                interface irb.2023;
                interface irb.2008;
                interface irb.2100;
                interface irb.2014;
                interface irb.2015;
                interface irb.2114;
                interface irb.2200;
{% if vlan is defined %}
{% for item in vlan.config %}
{% if item.id == 2253 %}
{% else %}
                interface irb.{{ item.id }};
{% endif %}
{% endfor %}
{% endif %}
            }
        }
    }
}