#jinja2: lstrip_blocks: True
{% set v4_prefix = site_ipv4_prefix.split('.') %}
{% set v6_prefix = site_ipv6_prefix.split(':') %}
---
{% raw %}
# configuration templates
common_template: "common.j2"
chassis_template: "chassis.j2"
virtual_chassis_template: "ex-virtual_chassis.j2"
routing_options_template: "ex-layer2-routing_options.j2"
poe_template: "poe.j2"
switch_options_template: "ex-dat-switch_options.j2"
forwarding_options_template: "ex-dat-forwarding_options.j2"

# interfaces_template default: ex-dat-interfaces.j2
# interfaces_template custom: interfaces_{{ inventory_hostname }}.j2
interfaces_template: "ex-dat-interfaces.j2"
protocols_template: "ex-dat-protocols.j2"
vlans_template: "ex-dat-vlans.j2"
groups_template: "ex-dat-groups.j2"

{% endraw %}

{% set auto_floor = inventory_hostname.split('-') %}
floor: {{ auto_floor[1] }}

# primary_ip4/6 - vme management IP
primary_ip4: {{ v4_prefix[0] }}.{{ v4_prefix[1] }}.253.{{ last_octet }}
primary_ip6: {{ v6_prefix[0] }}:{{ v6_prefix[1] }}:{{ v6_prefix[2] }}:2253::{{ last_octet }}

# virtual_chassis - ex virtual chassis config. no split is used for 2 member chassis.
virtual_chassis:
  no_split: false
  config:
    - member: 0
      role: routing-engine
      sn: REPLACE
    - member: 1
      role: routing-engine
      sn: REPLACE
    - member: 2
      role: line-card
      sn: REPLACE
    - member: 3
      role: line-card
      sn: REPLACE
    - member: 4
      role: line-card
      sn: REPLACE
    - member: 5
      role: line-card
      sn: REPLACE

# vlan - layer 2 vlan configuration. IP is only used for annotations in this case, not layer 3.
vlan:
  config:
    - id: 20{{ vlan_counter_1 }}
      ip: {{ v4_prefix[0] }}.{{ v4_prefix[1] }}.{{ vlan_counter_1 }}.1/24
      description: "{{ auto_floor[1] }} data 01"
    - id: 2{{ vlan_counter_2 }}
      ip: {{ v4_prefix[0] }}.{{ v4_prefix[1] }}.{{ vlan_counter_2 }}.1/24
      description: "{{ auto_floor[1] }} data 02"